@model MVC_All_Sessions.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee Page</title>
</head>
<body>
    <div> 
        <form class="form-group" method="post" action="/Home/CreateEmployee"></form>
    </div>
</body>
</html>
