

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index meth from the home contoller....</title>
</head>
<body>
    <div>
        <h2>Welcome to the Login Page ......</h2>
        <form method="post" action="/">
            <p>
                <lablel> UserName : <input type="text" name="UserName" /> </lablel>
            </p>
            <p>
                <label> Password : <input type="text" name="Password" /> </label>
            </p>
            <p>
                <button type="submit"> Login </button>
            </p>
        </form>

    </div>
</body>
</html>
